.IbratDebate {
    padding: 60px 0;
    background-color: rgba(255, 151, 33, 0.1);
}

.debate-first {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.debate-first img {
    width: 55%;
    height: auto;
    margin-right: 30px;
}

.debate-first .description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.debate-first .title {
    flex-grow: 0.3;
}

.debate-first .info {
    font-size: 1.25rem;
}

.register-btn {
    margin-top: auto;

}

.register-btn a {
    width: 100%;
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
}

.debate-second {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 60px;
}

.debate-second .description {
    display: flex;
    flex-direction: column;
}

.debate-second .description .title {
    flex-grow: 1;
    font-size: 2rem;
}

.debate-second .description .info {
    flex-grow: 1;
    font-size: 1.25rem;
}

.debate-second .images {
    display: flex;
    gap: 20px;
}