header {
    position: fixed;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container a.logo {
    height: 50px;
}

header .container a.logo:hover::after {
    width: 0;
}

header .container a.logo img {
    height: 100%;
    border-radius: var(--border-radius);
}

header .container nav li {
    display: inline-block;
    list-style: none;
    margin: 0 10px;
}

header .container nav li a {
    text-decoration: none;
    color: var(--primary);
    transition: 0.3s;
    font-size: var(--li-font-size-xxl);
}

.space-div {
    height: var(--space-div-height-xxl);
    width: 100%;
}
