@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: forestgreen;
    color: white;
}

:root {
    --primary: green;
    --opacity: 0.8;
    --border-radius: 16px;

    /*  Header variables */
    /* (XXL) */
    --li-font-size-xxl: 1.25rem;
    --space-div-height-xxl: 90px;

    /*  (XL)   */
    --li-font-size-xl: 1.25rem;
    --space-div-height-xl: 90px;

    /*  (L)  */
    --li-font-size-l: 1rem;
    --space-div-height-l: 90px;

    /*  (M)  */
    --li-font-size-m: 1rem;
    --space-div-height-m: 90px;

    /*  (S)  */
    --li-font-size-s: 1rem;
    --space-div-height-s: 60px;
}

body {
    font-family: "Fredoka", sans-serif;
    line-height: 1.5;
    color: #222;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.quote {
    background-color: rgba(144, 238, 144, 0.6);
    border-radius: var(--border-radius);
    position: relative;
    padding: 10px 10px 10px 30px;
    display: block;
    color: #222;
    margin: 20px 60px;
}

.quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 100%;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    background-color: mediumseagreen;
}

.image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1002;
    display: none;
}

.image-viewer i {
    font-size: 3rem;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.image-viewer img {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bold {
    font-weight: 600;
}

/* Buttons, a, list styles */

button {
    font-family: "Fredoka", sans-serif;
}

.btn-primary {
    border: none;
    background-color: var(--primary);
    color: white !important;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    transition: 0.3s;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-decoration: none;
}

.btn-primary:hover::after {
    width: 0;
}

.btn-primary:hover {
    opacity: 0.8;
    transform: scale(1.02);
}

.btn-primary:active {
    transform: scale(0.9);
}

h1, h2, h3,
h4, h5, h6 {
    font-weight: 500;
}

a {
    text-decoration: none;
    color: darkgreen;
    font-weight: 500;
    position: relative;
}

a::after {
  content: "";
  position: absolute;
  background-color: darkgreen;
  height: 1px;
  width: 0;
  left: 0;
  bottom: -8px;
  transition: 0.3s;
}

a:hover::after {
  width: 100%;
}

input,
textarea {
    transition: 0.3s;
    font-family: "Open Sans", sans-serif;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 8px 2px rgba(0, 128, 0, 0.2);
}

img.view-image {
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

img.view-image:hover {
    transform: scale(0.9);
    border-radius: calc(var(--border-radius) * 2);
    filter: brightness(60%);
}

.image i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.3s;
    opacity: 0;
}

.messages {
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 1001;
}

.messages ul li {
    list-style: none;
    padding: 10px 32px 10px 10px;
    margin: 10px 0;
    border-radius: 8px;
    width: 450px;
    position: relative;
    transition: 0.3s;
    transform: translateX(800px);
}

.messages ul li i.fa-solid.fa-x {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.messages ul li.info {
    border: 2px #CCDEFB solid;
    background-color: #CFE2FF;
    color: #052C65;
}

.messages ul li.success {
    border: 2px solid #a3cfbb;
    background-color: #d1e7dd;
    color: #0A3622;
}

.messages ul li.warning {
    border: 2px solid #ffe69c;
    background-color: #fff3cd;
    color: #664D03;
}

.messages ul li.error {
    border: 2px solid #F1AEB5;
    background-color: #F8D7DA;
    color: #58151c;
}