{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/base/footer.css' %}">
{% endblock %}

<footer id="footer">
    <div class="container">
        <div class="logo">
        <h1>Kreativ Park</h1>
        <div class="social-medias">
            <a href="#">
                <i style="color: orangered" class="fa-brands fa-instagram"></i> <span>Instagram</span>
            </a>
            <a href="https://t.me/kreativparkuz">
                <i style="color: dodgerblue" class="fa-brands fa-telegram"></i> <span>Telegram</span>
            </a>
            <a href="https://t.me/kreativpark_bot">
                <i class="fa-solid fa-robot"></i> <span>Telegram Bot</span>
            </a>
        </div>
    </div>
    <ul>
        <li class="title">
            1-qavat
        </li>
        <li>
            <a href="#">Post</a>
        </li>
        <li>
            <a href="#">Ijod books</a>
        </li>
        <li>
            <a href="#">Xojatxona</a>
        </li>
    </ul>
    <ul>
        <li class="title">
            2-qavat
        </li>
        <li>
            <a href="#">Ibrat Farzandlari</a>
        </li>
        <li>
            <a href="#">Kutubxona</a>
        </li>
        <li>
            <a href="#">Ijod Cafe</a>
        </li>
    </ul>
    </div>
</footer>