{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/base/header.css' %}">
{% endblock %}
<header>
    <div class="container">
        <a class="logo" href="{% url 'core:home' %}">
            <img src="{% static 'images/logo.jpg' %}" id="logo" alt="LOGO">
        </a>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'core:home' %}#news">Yangiliklar</a>
                </li>
                <li>
                    <a href="{% url 'core:home' %}#">Kutubxona haqida</a>
                </li>
                <li>
                    <a href="{% url 'core:home' %}#contact">Bog'lanish</a>
                </li>
                <li>
                    <a href="{% url 'core:booking' %}#" class="btn-primary">O'rin band qilish</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
{% block js %}
<script>
const link = document.querySelector("header .container a.logo");
const logoImage = document.querySelector("header .container a.logo img");

const logos = [
    {"link": "{% url 'core:home' %}", "image_path": "{% static 'images/logo.jpg' %}"},
    {"link": "https://yoshlar.gov.uz/", "image_path": "{% static 'images/yoshlar-ishlari-agentligi.png' %}"},
    {"link": "https://ibratfarzandlari.uz/", "image_path": "{% static 'images/ibrat-icon.svg' %}"},
]

function changeLogo () {
    for (let i = 0; i < logos.length; i++) {
        if (logoImage.src === window.location.protocol + "//" + window.location.host + logos[i].image_path) {
            if (i + 1 === logos.length) {
                link.href = logos[0].link;
                logoImage.src = logos[0].image_path;
                break
            } else {
                link.href = logos[i + 1].link;
                logoImage.src = logos[i + 1].image_path;
                break
            }
        }
    }
}

setInterval(changeLogo, 2000);

</script>
{% endblock %}
<div class="space-div"></div>